@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  utility_importフォルダを読み込む
// ---------------------------------------------

// text-align .u-txt_right系

@forward "import/align";

// margin .u-mb00系

@forward "import/margin";

// ---------------------------------------------
// u-〇〇　ユーティリティクラス
// ---------------------------------------------

.u-color-body {
  color: $color-body;
}

.u-color-green {
  color: $color-green;
}

.u-color-yellow {
  color: $color-yellow;
}

.u-color-accent {
  color: $color-blackgreen;
}

.u-bg-primary {
  background: $color-green;
}

.u-bg-secondary {
  background: $color-yellow;
}

.u-bg-accent {
  background: $color-blackgreen;
}
