@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  教室情報について専用
// ---------------------------------------------

.class_info {
  width: min(450px, 100%);
  padding: 100px 0 165px;
  margin: auto;

  dt {
    float: left;
    width: 120px;
    padding: 5px 0;
    margin: 0 80px 0 0;
    color: $color-green;
    text-align: center;
    background: #fff;

    &:last-of-type {
      margin: 0 80px 0 0;
    }
  }

  dd {
    margin: 3px 0 30px;
    color: #fff;

    &:last-of-type {
      margin: 0;
    }
  }

  // .class_info--wrap
  &--wrap {
    background: $color-green;
  }

  @include max-mq {
    padding: 80px 0;
    font-size: 3.7vw;

    dt {
      width: 24vw;
      margin: 0 15px 20px 0;

      &:last-of-type {
        margin: 0 15px 0 0;
      }
    }

    dd {
      padding: 5px 0;
      margin: 3px 0 20px;
    }
  }
}
