@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------


.top_info {
  padding: 15px 0;
  color: #fff;
  background: $color-green;

  //.top_info--ttl
  &--ttl {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;

    h2 {
      position: relative;
      top: -5px;
      font-family: $font-frank;
      font-size: var(--fz48);
    }

    @include max-mq {
      gap: 0;
    }
  }

  //.top_info--inner
  &--inner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: min(1680px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;

    @include max-mq {
      display: block;
    }
  }

  //.top_info--list
  &--list {
    width: 40vw;
    font-size: var(--fz20);

    @include max-mq {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  //.top_info--link
  &--link {
    display: block;
    width: fit-content;
    padding: 15px 60px;
    font-size: var(--fz18);
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);

    &:hover {
      color: $color-green;
      background: $color-yellow;
      border: 1px solid transparent;
    }


    @include max-mq {
      margin: auto;
    }
  }

  //.top_info--term
  &--term {
    float: left;

    @include max-mq {
      float: none;
    }
  }

  //.top_info--detail
  &--detail {
    display: block;
    padding: 0 0 0 120px;

    @include max-mq {
      padding: 0;
    }
  }

  @include max-mq {
    padding: 20px 0 40px;
  }
}

.top_about {
  padding: 144px 0 120px;
  background: $color-yellow;

  h2 {
    align-self: center;
    font-family: $font-frank;
    font-size: var(--fz48);
    line-height: 1.2;
    color: $color-green;
    writing-mode: sideways-lr;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: center;
  }

  // /top_about--lead
  &--lead {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;

    @include max-mq {
      img {
        align-self: center;
        width: 40%;
        height: 95vw;
        object-fit: cover;
      }
    }
  }

  // /top_about--paragraph
  &--paragraph {
    box-sizing: border-box;
    padding: 80px 45px;
    margin-bottom: 50px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

    p {
      &:first-of-type {
        margin-bottom: 40px;
      }
    }

    @include max-mq {
      padding: 60px 25px;
    }
  }

  // /top_about--txt
  &--txt {
    a {
      display: block;
      width: fit-content;
      padding: 15px 60px;
      margin: 0 0 0 auto;
      font-size: 18px;
      cursor: pointer;
      border: 1px solid #333;
      transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);

      &:hover {
        color: #fff;
        background: $color-green;
        border: 1px solid transparent;
      }
    }

    @include max-mq {
      a {
        margin: auto;
      }
    }
  }

  @include max-mq {
    h2 {
      font-size: var(--fz30);
    }

    .container {
      gap: 60px;
    }
  }
}

.top_instagram {
  padding: 130px 0;
  color: #fff;
  background-image: linear-gradient(to bottom, $color-green 52%, #dec79d 52%, #dec79d 60%, $color-green 60%, $color-green 100%);

  h2 {
    margin-bottom: 20px;
    font-size: var(--fz24);
    font-weight: 500;
    text-align: center;
  }

  p {
    margin-bottom: 55px;
    font-weight: 300;
    line-height: 2;
    text-align: center;
  }

  // .top_instagram--link
  &--link {
    display: block;
    width: fit-content;
    padding: 15px 40px;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);

    &:hover {
      color: #fff;
      background: $color-blackgreen;
      border: 1px solid transparent;
    }
  }

  // .top_instagram--link
  &--list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 60px;

    iframe {
      width: 330px !important;
      min-width: auto !important;
      max-width: 100% !important;
    }

    @include max-mq {
      li {
        width: 100%;
      }

      iframe {
        width: 100% !important;
      }
    }
  }
}

.top_enjoy {
  padding: 120px 0 100px;

  h2 {
    padding: 0 30px;
    margin-bottom: 40px;
    font-size: var(--fz24);
    font-weight: 500;
  }

  a {
    display: block;
    width: fit-content;
    padding: 15px 60px;
    margin: auto;
    font-size: var(--fz18);
    cursor: pointer;
    border: 1px solid #333;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);

    &:hover {
      color: #fff;
      background: $color-green;
      border: 1px solid transparent;
    }
  }

  //.top_enjoy--inner
  &--inner {
    position: relative;
    width: 76%;
    margin: 0 auto 9.635416666666668vw;

    @include tb-mq {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
    }
  }

  //.top_enjoy--img
  &--img {
    img {
      position: absolute;
      top: 85px;
      right: -270px;
    }

    @media (width <= 1900px) {
      img {
        right: -12vw;
        width: 45vw;
        height: auto;
      }
    }

    @include tb-mq {
      img {
        position: static;
        width: auto;
      }
    }
  }

  @include tb-mq {
    h2 {
      padding: 0;
    }
  }
}


/* アコーディオンメニュー */
.accordion {
  box-sizing: border-box;
  padding: 0 30px;
  border-bottom: 1px solid #e8e8e8;

  // .accordion--inner
  &--inner {
    position: relative;
    padding: 20px 0;
    cursor: pointer;
  }

  // .accordion--title
  &--title {
    font-size: var(--fz20);
    font-weight: 500;
  }

  // .accordion--icon
  &--icon {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      background-color: #333;
      transition: transform 0.3s;
    }

    &::before {
      width: 2px;
      height: 16px;
      margin-left: -1px;
      transform: translateY(-50%);
    }

    &::after {
      width: 16px;
      height: 2px;
      margin-top: -1px;
      transform: translateX(-50%);
    }
  }

  // .accordion--content
  &--content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;

    p {
      padding-bottom: 20px;
    }
  }

  // .accordion--wrap
  &--wrap {
    width: min(660px, 100%);

    @include tb-mq {
      margin-bottom: 60px;
    }
  }

  @media (width <= 1900px) {
    width: 37vw;
  }

  @include tb-mq {
    width: auto;
    padding: 0;
  }
}

/* 開いているときは縦線を非表示に */
.is-active .accordion--icon::before {
  transform: translateY(-50%) rotate(90deg);
}

// アニメーション設定（左に流れる）
@keyframes infinity-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.top_mv {
  position: relative;
  background: $color-green;

  h2 {
    position: absolute;
    bottom: -15px;
    left: 15px;
    z-index: 1;
    font-family: $font-futura;
    font-size: 16vw;
    font-weight: 600;
    line-height: 1;
    color: #fff;
  }

  span {
    margin-left: -45px;
    font-size: var(--fz40);
  }

  .container {
    box-sizing: border-box;
    width: 90%;
    padding: 0 min(4vw, 25px);
    margin: auto;
  }


  //.top_mv--slider
  &--slider {
    overflow: hidden;
  }

  //.top_mv--slider_inner
  &--slider_inner {
    display: flex;
    width: max-content; // スライダー全体の横幅を内容に合わせて拡張
  }

  //.top_mv--slider_item
  &--slider_item {
    display: flex;
    animation: infinity-scroll 30s linear infinite both;

    img {
      width: auto;
      height: 440px;
      margin-right: 20px;

      @media screen and (min-width: 900px) {
        height: min(540 / 900 * 100vw, 540px);
      }

      @media screen and (min-width: 1200px) {
        height: max(540 / 1200 * 100vw, 540px);
      }

      @include max-mq {
        height: 250px;
      }
    }
  }

  @include max-mq {
    h2 {
      bottom: 15px;
      left: 8px;
      font-size: 21vw;
    }

    span {
      display: block;
      margin-left: 0;
    }

    .container {
      width: 100%;
    }
  }
}
